<!-- <p>about-home works!</p> -->
<div class="background">
    <div class="container mt-5 pt-5">
        <div class="row mt-5 pt-5 mx-auto justify-content-center"> 
            <div class="col-sm">
                <img src="../../../../assets/images/home/me.jpg" class="rounded float-start img-fluid" alt="...">
            </div>
            <div class="col-sm mt-5 pt-5">
              <ul class="uk-subnav uk-subnav-pill" uk-switcher>
                <li><a href="#">About me</a></li>
                <li><a href="#">My CV</a></li>
            </ul>
            
            <ul class="uk-switcher uk-margin">
                <li>
                  <app-about-me></app-about-me>
                </li>
                <li><app-cv></app-cv></li>
            </ul>
            </div>
        </div>
    </div>
</div>