<!-- <p>about-me works!</p> -->
<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-sm">
            <h3>
                <strong>About me</strong>
            </h3>
            <p class="my-paragraph">Hello, my name is Raúl Adolfo Torres Vargas, I am a graduate of Computer Systems Engineering belonging to the Faculty of Science and Technology of the Vasco de Quiroga University in the city of Morelia. I have dedicated myself for 5 years to software development, web and technical support.</p>
        </div>
        <div class="col-sm">
            <ul>
                <li>
                    <p>Birthday Date: <span>1994-08-11</span></p>
                </li>
                <li>
                    <p>Residence: <span>Morelia</span></p>
                </li>
                <li>
                    <p>State: <span>Michoacán</span></p>
                </li>
                <li>
                    <p>Country: <span>México</span></p>
                </li>
                <li></li>
            </ul>
        </div>
    </div>
</div>