<!-- <p>contact-me-home works!</p> -->
<div class="background justify-content-center align-content-center">
    <div class="container mt-5 pt-5 mx-auto justify-content-center align-items-center">
        <div class="row row-cols-2 mt-5 pt-5 mx-auto justify-content-center align-items-center">
            <div class="col mx-auto mb-3">
                <a class="btn btn-primary linkedin" href="https://www.linkedin.com/in/ingrauladolfotorresvargas/"role="button">
                    <i class="fab fa-linkedin fa-3x"></i>
                </a>
            </div>
            <div class="col mx-auto mb-3">
                <a class="btn btn-primary gmail" href="mailto:ingratv@ingrauladolfo.dev"  role="button">
                    <i class="far fa-envelope fa-3x"></i>
                </a>
            </div>
            <div class="col mx-auto mb-3">
                <a class="btn btn-primary whatsapp" href="mailto:ingratv@ingrauladolfo.dev"  role="button">
                    <i class="fab fa-whatsapp fa-3x"></i>
                </a>
            </div>
            <div class="col mx-auto mb-3">
                <a class="btn btn-primary github" href="https://github.com/ingrauladolfo/"  role="button">
                    <i class="fab fa-github fa-3x"></i>
                </a>
            </div>
            
        </div>
    </div>
</div>