<!-- <p>cv works!</p> -->
<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-sm">
            <h3>
                <strong>My CV</strong>
            </h3>
            <div class="buttons">
                
                <a href="https://docs.google.com/document/d/1TCFcftCZ2iHeQO-XHayNXl2uQH9EhyBmRYPH939Htts/edit?usp=sharing" class="mr-md-5 mr-3" target="_blank">
                    <button class="button is-primary">
                    <p>English: <span><img src="../../../../assets/images/about/usa.png" width="20" height="20" alt=""></span></p>
                </button>
                </a>
                <a href="https://docs.google.com/document/d/1pAKOOoxazaMtQM8gB4C004-4KgL5-KNf8lHWbHEMZ7E/edit?usp=sharing" target="_blank">
                    <button class="button is-primary">
                        <p>Spanish <span><img src="../../../../assets/images/about/mexico.png" width="20" height="20" alt=""></span></p>
                    </button>
                </a>
              </div>
        </div>
    </div>
</div>