<!-- <p>skills-home works!</p> -->
<div class="background">
  <div class="container mt-5 pt-5">
    <div class="row mt-5 pt-5">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../../assets/images/skills/angular-material.png" class="d-block w-40 mx-auto img-fluid" alt="Angular Material">
          
        </div>
        <div class="carousel-item">
          <img src="../../../../assets/images/skills/angular.png" class="d-block w-40 mx-auto img-fluid" alt="Angular">
          
        </div>
        <div class="carousel-item">
          <img src="../../../../assets/images/skills/bootstrap.png" class="d-block w-40 mx-auto img-fluid" alt="Bootstrap">
        </div>
        <div class="carousel-item">
          <img src="../../../../assets/images/skills/bulma.png" class="d-block w-40 mx-auto img-fluid" alt="Bulma">
          
        </div>
        <div class="carousel-item">
          <img src="../../../../assets/images/skills/c.png" class="d-block w-40 mx-auto img-fluid" alt="C">
          
        </div>
        <div class="carousel-item">
          <img src="../../../../assets/images/skills/html5-css3-js.png" class="d-block w-40 mx-auto img-fluid" alt="HTML, CSS, JavaScript">
        </div>
        <div class="carousel-item ">
          <img src="../../../../assets/images/skills/java.png" class="d-block w-40 mx-auto img-fluid" alt="Java">
          
        </div>
        <div class="carousel-item">
          <img src="../../../../assets/images/skills/maria-db.png" class="d-block w-40 mx-auto img-fluid" alt="Maria DB">
          
        </div>
        <div class="carousel-item">
          <img src="../../../../assets/images/skills/mysql.png" class="d-block w-40 mx-auto img-fluid" alt="MYSQL">
        </div>
        <div class="carousel-item">
          <img src="../../../../assets/images/skills/php.png" class="d-block w-40 mx-auto img-fluid" alt="PHP">
        </div>
        <div class="carousel-item">
          <img src="../../../../assets/images/skills/python.png" class="d-block w-40 mx-auto img-fluid" alt="Python">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    </div>
  </div>
  
</div>


<!-- 


  <div class="carousel-item active">
        <img src="../../../../assets/images/skills/angular-material.png" class="d-block w-40 mx-auto img-fluid" alt="Angular Material">
        
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/images/skills/angular.png" class="d-block w-40 mx-auto img-fluid" alt="Angular">
        
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/images/skills/bootstrap.png" class="d-block w-40 mx-auto img-fluid" alt="Bootstrap">
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/images/skills/bulma.png" class="d-block w-40 mx-auto img-fluid" alt="Angular Material">
        
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/images/skills/c.png" class="d-block w-40 mx-auto img-fluid" alt="Angular">
        
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/images/skills/html5-css3-js.png" class="d-block w-40 mx-auto img-fluid" alt="Bootstrap">
      </div>
      <div class="carousel-item active">
        <img src="../../../../assets/images/skills/java.png" class="d-block w-40 mx-auto img-fluid" alt="Angular Material">
        
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/images/skills/maria-db.png" class="d-block w-40 mx-auto img-fluid" alt="Angular">
        
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/images/skills/mysql.png" class="d-block w-40 mx-auto img-fluid" alt="Bootstrap">
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/images/skills/php.png" class="d-block w-40 mx-auto img-fluid" alt="Bootstrap">
      </div>
      <div class="carousel-item">
        <img src="../../../../assets/images/skills/python.png" class="d-block w-40 mx-auto img-fluid" alt="Bootstrap">
      </div>
 -->